.items img{
    width: 300px;
    align-items: center;
}
.items{
    padding: 1rem;
    margin: 1rem;
    max-width: 400px;
    height: 40rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(5, 50, 87);
    border-radius: 10px;
}
.items div{
    height: 28rem;
}
.items button{
    padding: 0.5rem;
    background-color: rgb(21, 32, 82);
    color: white;
    border: none;
    border-radius: 10px;
}
.items button:hover{
    background-color: rgb(49, 72, 175);
    border:none;
}