*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
.Header{
  background-color: #243444;
  text-align: center;
  height: 200px;
}
.Header img{
  width: 120px;
  padding: 1rem;
}
.NavBar ul{
  display: flex;
  justify-content: center;
}
.NavBar ul li{
  padding: 1rem;
}
.NavBar ul li a{
  color: white;
}
/*----------------------FIN HEADER-------------------*/
.relleno{
  height: calc(100vh - 198px - 200px);
}
/*----------------------FIN SECTION-------------------*/
footer{
  color: white;
  height: 198px;
}
footer div:first-child{
  text-align: center;
  text-transform: uppercase;
  background-color: #243444;
  padding-top: 1rem;
}
footer div ul{
  display: flex;
  justify-content: center;
}
footer div ul li a i{
  font-size: 30px;
  padding: 2rem;
}
.footerDerechos{
  background-color: #1d2e3f;
  padding: 1rem;
  text-align: center;
}
/*----------------------FIN FOOTER-------------------*/

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: paleturquoise;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(126, 25, 221);
}

.App-link {
  color: #ca61fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.miaLand{
  margin-bottom: 5rem;
}
.miaImage{
  margin-top: 4rem;
}*/